*{
    margin: 0;
    padding: 0;
}
 .container{
    display:flex;
} 
.sidebar nav{
    padding: 30%;
    justify-content: center;
   width: 110px;
  
}
.ul li{
    padding: 35px 0;
    font-weight: bold;
    
 }
 .sidebar nav li a{
    text-decoration: none;
    color:rgb(52, 48, 48);
    
    line-height: 55px;
 }
.sidebar{
    
    background: #4568DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    /*background: rgb(191,232,223);
    background: radial-gradient(circle, rgba(191,232,223,1) 1%, rgba(137,168,216,1) 100%);*/
    width: 15%;
    height: 100%;
    position: absolute;
    bottom: 0%;
    transition: transform 0.3s ease-in;
}

.main{
    color: white;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

    /*background: radial-gradient(circle, rgba(191,232,223,1) 1%, rgba(138,216,137,1) 100%);
    background: rgb(4,0,0);
    background: radial-gradient(circle, rgba(4,0,0,0.8868852459016393) 0%, rgba(0,0,0,1) 13%);*/
    width: 85%;
    height: 100%;
    float: right;
    position: absolute;
    top: 0%;
    right: 0%;
   
    
}
.infocontainer{
    color: rgb(247, 249, 250);
    background: rgb(4,0,0);
    background: radial-gradient(circle, rgba(4,0,0,0.8868852459016393) 0%, rgba(0,0,0,1) 13%);
    height: 58vh;
    width: 70vw;
    /* margin: 144px auto; */
    display: flex;
    padding: 60px;
    margin: 80px;
    justify-content: space-around;
    transition: transform 0.3s ease-in;
}
.info{
    display: flex;
   justify-content: center;
   

    flex-direction: column;

}
.hello{
    font-size: 85px;
    font-weight: bold;
    margin: 0px 0px 0px 40px;
    padding: 2px;
}
.name{
    font-size: 45px;
    font-weight: bolder;
    margin: 0px 0px 0px 40px;
    padding: 2px;
}

.about{
    font-size: 30px;
    margin: 0px 0px 0px 40px;
    padding: 2px;
}
.buttons button{
    padding: 4px 16px;
    border-radius: 22px;
   /* background-color: rgb(81, 134, 218);
    background-color: linear-gradient(90deg, rgba(9,94,227,1) 0%, rgba(95,171,223,0.9699230033810399) 100%);*/
    font-size: 14px; 
    margin: 10px 0px 0px 33px;
    cursor: pointer;
   
    
    
}
 .buttons button{
    
    background-color: #7f52ff;
  
    
}    
.buttons button a{
    text-decoration: none;
    
    color: aliceblue;
   
}

  .buttons button:hover{
    
    background-color: rgb(40, 173, 214); 
  
    
}  
.buttons button:active{
   
    background-color: rgb(214, 40, 124); 
  
    
}   
/* .buttons button a:hover{
    color: #7442fd;
    /* background-color: rgb(232, 231, 230);  
   
}  */

.pic img{
    height: 36vh;
    float:right;
    margin: 40px 0px 0px 0px;
    padding: 30px 40px 0px 40px;
    
}
.par p{
    width: 120vw;
    margin: 44px;
    padding: 55px;
    display:flex;
    justify-content: space-around;

}
.form {
    padding: 102px;
    margin: 40px;
   
    
}
.mb input{
    width: 300px;
    margin: 20px 0;
    
}

.mb p{
    font-size:10px;
    color: crimson;
}
.mb-3 input{
    width: 16px;
    height: 15px;
    margin: 0px 0 10px  ;
    
}
.form button{
    padding: 6px;
    
    border-radius: 18px;
    font-weight: bold;
    background-color: #7f52ff;
    cursor: pointer;
    color: blanchedalmond;
   /* background-color: aliceblue;*/
} 
.form button:hover{
    background-color: aliceblue;
    color: brown;
}
.form h2{
    margin: 25px 0;
    color: white;
}
.form label {
    color: white;
}
.hambargor{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left:-220px;
    

}
.hambargor img{
    margin: 10px 10px 0px -235px;
    padding: 0px 250px;
    
    
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .infocontainer {
        color: rgb(247, 249, 250);
        background: rgb(4,0,0);
        background: radial-gradient(circle, rgba(4,0,0,0.8868852459016393) 0%, rgba(0,0,0,1) 13%);
        height: 45vh;
        width: 8vw;
        /* margin: 144px auto; */
        /* display: flex; */
        padding: 160px 180px 155px 100px;
        margin: 35px;
        /* justify-content: space-around; */
        transition: transform 0.3s ease-in;
    }
     .pic,img{
       margin-left: 340px;
        margin-top: -290px;
        padding-top: 100px;
        padding-right: 100px;
        

    } 
    .info{
        display: flex;
       justify-content: center;
        padding: 16px; 
      
       
      
        flex-direction: column;
    
    }
    .hello{

        font-size: 45px;
        font-weight: bold;
        margin: 313px 330px 0px -360px;
        padding: 2px;
    }
    .name{
        font-size: 25px;
        font-weight: bolder;
        margin: 10px 330px 0px -360px;
        padding: 2px;
    }
    
    .about{
        font-size: 15px;
        margin: 10px 430px 0px -360px;
        padding: 2px;
    }
    .buttons button{
        padding: 6px 12px 8px 16px;
        border-radius: 22px;
        font-size: 14px; 
        margin: 10px 90px 40px -260px;
        cursor: pointer;
        
         
    }
    

}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

  .cancel{
    margin-left:  10px 10px 0px 155px;
    
  }
  .sidebargo{
    transform: translate(-443px,0px);
    position:absolute;
    
  }
  
 .para {
    margin: 10px;
    padding-left: 10%;
 } 
  
  
  