*{
    margin: 0;
    padding: 0;
}
 .container{
    display:flex;
} 
.sidebar nav{
    padding: 30%;
    justify-content: center;
    width: 20px;
}
.ul li{
    padding:30px 0;
    font-weight: bold;
 }
 .sidebar nav li a{
    text-decoration: none;
    color: rgba(6, 3, 39, 0.699);
 }
.sidebar{
    background: rgb(191,232,223);
    background: radial-gradient(circle, rgba(191,232,223,1) 1%, rgba(137,168,216,1) 100%);
    width: 15%;
    height: 100%;
    position: absolute;
    bottom: 0%;
}
.main{
    background: rgb(191,232,223);
    background: radial-gradient(circle, rgba(191,232,223,1) 1%, rgba(138,216,137,1) 100%);
    /*background: rgb(4,0,0);
    background: radial-gradient(circle, rgba(4,0,0,0.8868852459016393) 0%, rgba(0,0,0,1) 13%);*/
    width: 85%;
    height: 100%;
    float: right;
    position: absolute;
    top: 0%;
    right: 0%;
   
    
}
.infocontainer{
    color: rgb(247, 249, 250);
    background: rgb(4,0,0);
    background: radial-gradient(circle, rgba(4,0,0,0.8868852459016393) 0%, rgba(0,0,0,1) 13%);
    height: 58vh;
    width: 70vw;
    margin: 144px auto;
    display: flex;
    padding: 40px;
    margin: 50px;
    justify-content: space-around;
}
.info{
    display: flex;
   justify-content: center;
   

    flex-direction: column;

}
.hello{
    font-size: 85px;
    font-weight: bold;
    margin: 0px 0px 0px 30px;
    padding: 2px;
}
.name{
    font-size: 50px;
    font-weight: bolder;
    margin: 0px 0px 0px 30px;
    padding: 2px;
}

.about{
    font-size: 30px;
    margin: 0px 0px 0px 30px;
    padding: 2px;
}
.buttons button{
    /*padding: 4px 24px;*/
    border-radius: 22px;
    color: rgb(7, 2, 2);
    background-color: rgb(81, 134, 218);
    background-color: linear-gradient(90deg, rgba(9,94,227,1) 0%, rgba(95,171,223,0.9699230033810399) 100%);
    font-size: 14px; 
   /* margin: 60px 10px 0px 50px;*/
    cursor: pointer;
    
    
   
    
    
}
.buttons a{
    text-decoration: none;
    right:auto;
}
.buttons button:hover{
   
    color: black;
    background-color: rgb(232, 231, 230);
} 
.pic img{
    height: 58vh;
    float:right;
    
}
.par p{
    width: 120vw;
    margin: 44px ;
    padding: 50px;
    display:flex;
    justify-content: space-around;

}
.form {
    padding: 102px;
    margin: 40px;

    
}
.mb input{
    width: 300px;
    margin: 20px 0;
}

.mb p{
    font-size:10px;
    color: crimson;
}
.mb-3 input{
    width: 16px;
    height: 15px;
    margin: 0px 0 10px  ;

}
.form button{
    padding: 3px;
    border-radius: 8px;
    font-weight: bold;
    background-color: rgb(104, 156, 240);
    background-color: linear-gradient(90deg, rgb(31, 116, 253) 0%, rgba(95,171,223,0.9699230033810399) 100%);
    cursor: pointer;
} 
.form button:hover{
    background-color: aliceblue;
    color: brown;
}
.form h2{
    margin: 25px 0;

}
.hambargor{
    position: relative;
    cursor: pointer;
    top: 10px;
    left:-220px;


}
.hambargor img{
    margin: 10px 10px 0px -55px;
    padding: 0px 80px;
    
}
@media (max-width: 1600px) {
    /*body {
      background-color: lightblue;
    }*/
  }
  